.index-tema {
    text-align: center;
}

.index-tema3 {
    text-align: center;
    font: 20px arial, sans-serif;
}

.index-tema-icons {
    text-align: left;
    font: 20px arial, sans-serif;
}

.index-fontPhraseFinal {
    font: 16px arial, sans-serif;
}

.index-btn:focus, .index-btn::-moz-focus-inner {
    outline: none;
    border: none;
}

.index-btn-gray {
    background: #d9d9d9;
    color: #000000;
    box-shadow: 0 5px 0 #bebebe;
}

.index-btn-gray:hover {
    background: #bebebe;
    box-shadow: 0 5px 0 #929292;
}

.index-btn-gray:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}