.project-space-img {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}

.project-space-comments {
    display: inline-block;
    position: relative;
    padding: 20px 20px 20px 20px;
}

.project-head {
    display: none;
    max-width: 1500px;
}

.container {
    float: right;
}

.project-left {
    float: left;
}

.project-right {
    float: right;
}

.project-center {
    align-content: center;
}