.project-space-img {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 30px 0px;
}

.project-space-comments {
    display: inline-block;
    position: relative;
    padding: 20px 20px 20px 20px;
}

.project-head {
    display: none;
    max-width: 1500px;
}

.container {
    float: right;
}

.project-left {
    float: left;
}

.project-right {
    float: right;
}

.project-center {
    align-content: center;
}

.project-space-head {
    float: left;
    text-align: center;
    vertical-align: central;
    margin: 0 0 0 20px;
    padding: 0px 0px 0px 0px;
    float: left;
    width: 130px;
    height: 170px;
}

.project-space-heart {
    text-align: center;
    margin: 0 30px 40px 0;
    padding: 70px 0 0 0;
    float: right;
    width: 100px;
    height: 170px;
}

.project-star {
    max-width: 200px;
    max-height: 150px;
    width: auto;
    height: auto;
}

.project-name {
    font: bold 30px arial, sans-serif;
    margin: 25px 0px 0px 0px;
}

.project-name2 {
    font: bold 20px arial, sans-serif;
}

.project-whatis {
    font: 20px arial, sans-serif;
}

.project-branca {
    filter: brightness(100);
}
