.typeWriter-distance1 {
    margin: 0px;
}

.typeWriter-body {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.typeWriter-line {
    border-right: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: 'Special Elite', monospace;
    text-align: center;
    margin: 20px auto;
    white-space: nowrap;
    overflow: hidden;
}

.typeWriter-typing-animation {
    animation: linkCursor 500ms steps(40) infinite normal, typing 4s steps(40) 5s normal both;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 32.5em;
    }
}

@keyframes linkCursor {
    from {
        border-right-color: rgb(255, 255, 255);
    }
    to {
        border-right-color: transparent;
    }
}